In [44]:
import pandas as pd
import numpy as np

In [35]:
data_path = 'C:\\Users\\VImmadisetty\\Downloads\\Projects\\DRCR Automation\\Project_1\\data\\'

In [36]:
response_df = pd.read_csv(data_path + 'response_info.tsv', sep='\t', parse_dates = ['item_submitted_timestamp'])

In [37]:
response_df.rename(columns = {'section_title':'section_name',
                             'milliseconds_used' : 'm_sec_used',
                             'is_scored' : 'scored',
                             'scored_response' : 'score',
                             'item_status': 'response_status',
                             'item_section_position' : 'display_seq'}, inplace = True)

response_df.drop(columns = ['item_position', 'field_test',
                           'milliseconds_review_total', 'milliseconds_review_explanation'], inplace = True)

In [38]:
item_ver = response_df[((response_df['score']==1) | (response_df['score']>1)) & (response_df['raw_response']!=0) & (response_df['raw_response'].notnull())][['content_item_id', 'content_item_name', 'raw_response', 'item_submitted_timestamp']].drop_duplicates().sort_values(by=['content_item_name'], ignore_index = True)

cor_ans = item_ver[item_ver.groupby(by=['content_item_name'])['item_submitted_timestamp'].rank(method = 'first', ascending = False)==1][['content_item_id', 'content_item_name', 'raw_response', 'item_submitted_timestamp']]
cor_ans.rename(columns = {'raw_response':'corr_ans_respdf'}, inplace = True)

In [39]:
item_ver = response_df[((response_df['score']==1) | (response_df['score']>1)) & (response_df['raw_response']!=0) & (response_df['raw_response'].notnull())][['content_item_id', 'content_item_name', 'raw_response', 'item_submitted_timestamp']].drop_duplicates().sort_values(by=['content_item_name'], ignore_index = True)

ci_old_keys = pd.merge(item_ver.rename(columns = {'raw_response':'corr_ans_respdf'}).drop(columns = ['item_submitted_timestamp']).drop_duplicates(), cor_ans.drop(columns = ['content_item_id', 'item_submitted_timestamp']), on = ['content_item_name', 'corr_ans_respdf'], how = 'outer', indicator = True)

ci_old_keys = ci_old_keys[ci_old_keys['_merge']=='left_only'].drop(columns = ['_merge']).rename(columns={'corr_ans_respdf':'raw_response'})

In [40]:
ci_old_keys

                           content_item_id content_item_name  raw_response
2092  2cd43b56-ddde-47a6-bd7a-23ccb2466666            cq1223           3.0
2093  61f803b3-d44c-425c-9512-29575430e541            cq1223           3.0
2932  ecdec99a-c159-4f28-b83f-66391849888d     cs051m2seq.02           4.0
3323  67601e4d-ffde-40ad-a096-ac681457529e      cs162mmat.03           4.0

In [93]:
a = pd.DataFrame()
a['a'] = [1,2,1,3, 1]
a['b'] = ['a', 'b', np.nan, 'c', np.nan]
a['c'] = ['f', 'g', 'h', 'i', 'j']
a

   a    b  c
0  1    a  f
1  2    b  g
2  1  NaN  h
3  3    c  i
4  1  NaN  j

In [95]:
a[a['b'].notnull()]

   a  b  c
0  1  a  f
1  2  b  g
3  3  c  i

In [91]:
b = pd.DataFrame()

In [89]:
a.set_index(['a']).loc[a.groupby(by=['a'])['b'].agg('nunique')>1]['c'].unique()

array(['f', 'h', 'j'], dtype=object)

In [79]:
a.set_index(['a']).loc[a.groupby(by=['a']).agg(count=('b', 'nunique'))>1]

ValueError: Cannot index with multidimensional key